/* GERAL*/


body{
    font-family: 'Open sans', 'sans-serif';
    color:  #373a3c;
  }

  a{
    transition: .5s;
  }

  /* sidebar */

  #sidebar{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #b81111;
    padding-top: 40px ;
  }

  #sidebar h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #sidebar a{
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

#sidebar a:hover{
  color: #f4ef5e;
}

#sidebar li{
  padding: 20px;
}

.sidebar-container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.logo-pizzaria{
  height: 250px;
  width: 250px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* Conteudo */

.conteudo{
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
}

.conteudo h1, .conteudo h2{
  color: #000000;
  margin-bottom: 30px;
}

.conteudo h1{
  font-size: 48px;
}

.conteudo h2{
  font-size: 35px;
}

  section{
  padding-left: 50px;
}


/* Bem vindo */

#sessao-bemvindo{
  padding-left: 0;
}

.sessao-bemvindo-conteudo{
  padding-left: 50px;
}

#sessao-bemvindo .banner{
  height: 500px;
  background-image: url(img/Fundopizza.jpg);
  background-position: center;
  background-size: cover;
}

#sessao-bemvindo h1{
  margin-top: 70px;
}

#sessao-bemvindo::after, #sessao-sobre::after{
  content:'';
  display: block;
  clear: both;
  margin-bottom: 100px;
}


.sessao-minibanner{
  width: 300px;
  height: 400px;
  background-image: url(img/Pizza-31.jpg);
  background-position:center ;
  background-size: cover;
  float: left;
}

.sessao-descricao{
  position: absolute;
  left: 370px;
  padding-right: 30px;
}

.sessao-descricao p{
  line-height: 2;
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.sessao-bemvindo-btn, form input[type=submit]{
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  transition: .5s;
  display: block;
  width: 100px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-left: 25px;
}

.sessao-bemvindo-btn:hover, form input[type=submit]:hover{
  background-color: #ff0000;
  color: #000000;
}

/* sessao sobre */

#sessao-sobre .sessao-minibanner{
  float: right;
  margin-right: 50px;
  background-image: url(img/Preparando-uma-pizza.jpg);
}

#sessao-sobre .sessao-descricao{
  position: absolute;
  left: 25px;
  width: calc(100% - 400px);
}

/* galerias */

.banner-galeria{
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 200px;
}

#sessao-pizzasalgada, #sessao-doce {
  padding-right: 50px;
  margin-bottom: 50px;
}

.pizza1-imgs{
  height: 400px;
  width: 32%;
  margin-left: .5%;
  margin-right: .5%;
}

#img1{
  background-image: url(img/pizza-margherita.jpg);
  margin-left: 0;
}

#img2 {
  background-image: url(img/pizza-portuguesa_min.jpg);
  
}

#img3 {
  background-image: url(img/pizzacalabresa.jpg);
  margin-right: 0;
}

.pizza2-imgs {
  height: 400px;
  width: 31.4%;
  margin-left: .5%;
  margin-right: .5%;
}

#img4 {
  background-image: url(img/pizza-doce-banana.jpg);
  margin-left: 0;
}

#img5 {
  background-image: url(img/pizza-doce-morango.jpg);

}

#img6 {
  background-image: url(img/pizza-doce-mms.jpg);
  margin-right: 0;
}

/*contato */

#form-contato {
  width: 500px;
}

#form-contato input[type=text], #form-contato input[type=email], #form-contato textarea{
  display: block;
  border: 1px solid #b81111;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
}

#form-contato input[type=text] :focus,
#form-contato input[type=email] :focus,
#form-contato textarea :focus{
  border-color: #fafafa;
}

#form-contato input[type=submit]{
  margin-left: 0;
  font-size: 16px;
  width: 180px;
}

/*footer */

footer{
  height: 100px;
  padding-top: 150px;
  color: #b81111;
}

footer p{
  text-align: center;
  font-weight: bold;
}

/* Responsavidade */

